.title {
width: 100%;
display: flex;
justify-content: center;
align-items: center;
background-color: #d87093;
margin-top: 0;
font-size: 25px;
padding: 40px;
}
.tudo {
display: flex;
flex-direction: row;
justify-content: center;
text-align: center;
justify-items: center;
margin-top: 3%;
}
body {
  background-color: lightpink; 
}
header{
    background-color:#d87093;
}
img{
    width: 450px;
}
.foto{
height: 170px;
object-fit: cover;
border-radius:50%;
position: absolute;
left: -7%;
top: -25%;
transform: translateX(-50);
}
.lateral{
position: fixed;
top: 170px;
left: 0;
padding: 20px;
width: 25%;
height: 682px;
background: linear-gradient(180deg, #d87093, #ffffff);
color: rgb(20, 19, 19);
font-size: 15px;
}
.album {
  position: absolute;
  padding-left: 35%;          
 
}
.album img {
  width: 200px;
  height: auto;
  text-align: center;
}     
.album1 {
 position: absolute;
 top: 30%;
 right: -10%;
 padding-right: 25%;
}
.album1 img {
  width: 200px;
  height: auto;
  text-align: center;
}
.Marisa{
text-align: center;
position: relative;
width: 800px; 
margin-top: 260px;
margin-left: 32%;
}
.monte{
text-align: center;
margin-top: 15px;
width: 750px;
right: 500px;
position: right ;
margin-left: 35%;
}
.coluna{
padding: 50px;
}
